:root {
  --white: #ffffff;

  --black-10: #F3F3F3;
  --black-20: #E7EDEB;
  --black-30: #DAE1DF;
  --black-40: #BBC4C1;
  --black-70: #757A79;

  --black: #1C2220;
  --black-plus: #141817;
  --black-minus: #222826;

  --green: #17FF9E;
  --green-plus: #08DD90;
  --green-plus2: #0BC582;

  --red: #FF569D;

  --background-modal: rgba(28, 34, 32, 0.87);
}


