header(class='header')
    .container
        .header__content
            a.header__logo
                svg(viewBox="0 0 100 26" width="100" height="26")
                    use(xlink:href="#logo")
            nav.header__nav
                span.header__nav-item(data-modal-target='about') О нас
                span.header__nav-item(data-modal-target='contacts') Контакты
                span.header__nav-item(data-modal-target='info') Юр. информация
