extends ../components/mixins/modal.pug

block variable
  - var withFooter = true
  - var modalName = 'law'
  - var modalBgImage = 'assets/images/law.png'
  - var modalBgPosition = 'bottom right'
  - var modalBgSize = false

block title
    | Юриспруденция

block body
    p Публикация размещенная в журнале ВАК по Экономике, раскрывает актуальным проблемы экономики, финансов, управления и другим смежным областям. Цель журнала - публикация высококачественных научных исследований, которые могут принести пользу не только научному сообществу, но и широкому кругу специалистов в сфере экономики и бизнеса.
    p Журнал принимает к публикации статьи, посвященные различным аспектам экономической деятельности, включая макроэкономические проблемы, микроэкономику, финансы, бухгалтерский учет, анализ и прогнозирование экономических процессов, управление рисками, маркетинг, исследование рынков, теорию игр, эконометрику и многие другие.
    p Журнал стремится к публикации исследований, основанных на современных методах исследования и данных, которые могут сделать новый вклад в развитие экономической науки и практики. Все статьи проходят жесткий процесс рецензирования и выбираются для публикации на основе их качества, оригинальности, актуальности и значимости для экономической науки и практики.


block footer
    .choice-in-modal
        .price
            span.price__small 10 000 Р
            span.price__big 7 000 Р
        button.btn.btn-red.choice-in-modal__btn(data-choice-target=modalName) Выбрать
