extends ../components/mixins/modal.pug

block variable
  - var withFooter = true
  - var modalName = 'co-authorship'
  - var modalBgImage = 'assets/images/co-authorship.png'
  - var modalBgPosition = false
  - var modalBgSize = false

block title
    | Соавторство

block body
    p Некоторые издательства, включенные в перечень ВАК, принимают на публикацию только те научные статьи, которые написаны в соавторстве с преподавателями или учеными из конкретной организации. На практике это не всегда удается реализовать прямым путем. Услуга соавторства предполагает внесение имени нужного эксперта с его согласия в графу авторства вашей научной работы. Это гарантирует прием на рассмотрение редакционной коллегией и быструю публикацию материала. Также соавторство повышает доверие к статье, способствует более быстрому и частому цитированию. Мы можем обеспечить любой вид соавторства — делимый и неделимый.
    p Альтернативный вариант соавторства — совместная работа с другим ученым над одной работой. В этом случае мы помогаем быстро найти коллегу, который может привнести нужные знания и исследования в общую статью. Такое сотрудничество особенно актуально, когда рассматривается тема на стыке двух наук и нужно мнение двух разнопрофильных специалистов. 
    p Соавторство дает возможность высветить несколько точек зрения, включить в работу больше подробностей и данных, использовать больше источников информации и при этом сократить время на написание рукописи. Статья, написанная в соавторстве, имеет высокую уникальность, а потому ее легче с первого раза опубликовать в журналах из списка ВАК. 

block footer
    .choice-in-modal
        .price
            span.price__small 10 000 Р
            span.price__big 7 000 Р
        button.btn.btn-red.choice-in-modal__btn(data-choice-target=modalName) Выбрать
