extends ../components/mixins/modal.pug

block variable
  - var withFooter = true
  - var modalName = 'promotion'
  - var modalBgImage = 'assets/images/promotion.png'
  - var modalBgPosition = false
  - var modalBgSize = false

block title
    | Продвижение статьи

block body
    p Научная работа, опубликованная в научных журнала, это весомый вклад в карьеру ученого. Однако просто разместить ее в журнале недостаточно. Важно, чтобы продуктивность исследователя и значимость статьи подтверждались через ее упоминание в других материалах.
    p В рамках услуги мы добавим желаемое вами количество ссылок на вашу научную работу в материалы, которые соответствуют нише и тематике. Для этого понадобится библиографическая ссылка на статью.
    p Чем больше ссылок, тем выше индекс Хирша, который и отражает эффективность научной деятельности конкретного автора. Повышение цитирования в наукометрических базах — единственный путь к этому.
    p Индекс цитирования может повышаться и самостоятельно, однако это происходит довольно медленно, особенно для очень узкоспециализированных тем. Для исследователя же важно, чтобы его деятельность была заметной в научной среде, поскольку от этого зависят возможности карьерного роста. 
    p Чем выше индекс цитирования, получаемый за счет наращивания ссылочной массы в базах, тем выше интерес к исследованиям автора. Это привлекает внимание не только других экспертов, но и потенциальных спонсоров. Кроме того, индекс Хирша может учитываться при присвоении звания и выдаче гранта. 

block footer
    .choice-in-modal
        .price
            span.price__small 10 000 Р
            span.price__big 7 000 Р
        button.btn.btn-red.choice-in-modal__btn(data-choice-target=modalName) Выбрать
