extends ../components/mixins/modal.pug

block variable
  - var withFooter = true
  - var modalName = 'formalization'
  - var modalBgImage = 'assets/images/formalization.png'
  - var modalBgPosition = false
  - var modalBgSize = false

block title
    | Оформление статьи

block body
    p Публикация научной статьи важна для карьерного роста любого эксперта, привлечения финансирования и получения грантов. Однако с учетом масштабности и значимости научных журналов, их требования к оформлению работ очень серьезные и жесткие. Даже один недочет может привести к отказу в публикации. При этом без подготовки и соответствующего опыта сразу оформить материал правильно очень сложно. По статистике, с первого раза не публикуется 70% статей.
    p У нас вы можете заказать оформление научной работы для публикации в желаемом издательстве. Наш специалист до мелочей знает требования к формату статей и правила их оформления, поэтому сэкономит вам много времени и нервов на этом рутинном и сложном процессе. Вы сосредоточитесь на научной части, а организационный этап доверяете профессионалу. Еще лучше дополнить оформление статьи услугой редактирования и проверки на плагиат, чтобы точно избежать трудностей с редколлегией журнала и научной платформой.

block footer
    .choice-in-modal
        .price
            span.price__small 10 000 Р
            span.price__big 7 000 Р
        button.btn.btn-red.choice-in-modal__btn(data-choice-target=modalName) Выбрать
