extends ../components/mixins/modal.pug

block variable
  - var withFooter = true
  - var modalName = 'history'
  - var modalBgImage = 'assets/images/history.png'
  - var modalBgPosition = 'top center'
  - var modalBgSize = 'cover'

block title
    | История

block body
    p Журнал ВАК по Истории - это научное издание, в котором публикуются оригинальные научные статьи, посвященные истории различных эпох и регионов мира. В журнале ВАК по Истории особое внимание уделяется исследованиям исторических процессов, анализу культурного наследия и исследованию исторических источников.
    p Статьи, опубликованные в журнале ВАК, должны соответствовать высоким научным стандартам и представлять оригинальные исследования, вносящие новые знания и выводы в научную область истории. Текст статьи должен быть ясным, логичным и четким, а методологический подход должен быть четко обоснован и основываться на достоверных источниках.
    p Особое внимание уделяется роли и значимости исторических источников, архивных материалов и рукописей. Поэтому важно, чтобы авторы статей обладали необходимыми навыками работы с архивными документами и источниками.
    p Журнал имеет высокий рейтинг среди научных изданий в области истории и является одним из важнейших каналов распространения научных знаний в этой области. Опубликованные статьи могут использоваться как для академических исследований, так и для образовательных целей, включая преподавание в вузах и научных семинарах.

block footer
    .choice-in-modal
        .price
            span.price__small 10 000 Р
            span.price__big 7 000 Р
        button.btn.btn-red.choice-in-modal__btn(data-choice-target=modalName) Выбрать
