extends ../components/mixins/modal.pug

block variable
  - var withFooter = false
  - var modalName = 'about'
  - var modalBgImage = 'assets/images/promotion.png'
  - var modalBgPosition = false
  - var modalBgSize = false
  - var openModal = false

block title
    | О нас

block body
    p
        svg(viewBox="0 0 72 17" width="72" height="17")
            use(xlink:href="#logo")
        | помогает публиковать и улучшать научные работы специалистов из самых различных сфер. Наша команда экспертов предоставляют научную консультацию, помогают с академическим редактированием и оформлением научных материалов наших клиентов.

    p
        svg(viewBox="0 0 72 17" width="72" height="17")
            use(xlink:href="#logo")
        | выстроил партнерские отношения с Высшими учебными заведениями, научными организациями и авторитетными издательствами, чтобы обеспечить возможность публикации работ в соавторстве и с более быстрым рассмотрением редколлегией. Дополнительно у нас можно заказать проверку на плагиат с рекомендациями по правкам или редактированием нашими экспертами, размещение ссылок на вашу работу в других материалах наукометрических баз для повышения цитирования и индекса Хирша, профессиональное дизайнерское оформление вашей статьи

    p
        svg(viewBox="0 0 72 17" width="72" height="17")
            use(xlink:href="#logo")
        | — это быстрая профессиональная доработка, которая станет огранкой вашей статьи и поможет с первого раза опубликоваться в журнале соответствующей научной специализации при максимальном содействии нашей команды

    h3 Публикация ВАК

    p Наши клиенты получают максимальное содействие в улучшении их научного труда, приведении его к стандартам ВАК и международным требованиям Scopus и Web of science. Самое главное, чтобы ваша работа была авторской, а результаты исследования — впервые получены. Обо всем остальном позаботимся мы
    p Публикация научной работы в журнале, включенном в перечень Высшей аттестационной комиссии (ВАК), повышает статус автора, как исследователя и ученого, помогает профессиональному росту, привлечению финансирования, получению грантов. Однако самостоятельно быстро опубликовать статью в издательстве, одобренном ВАК, достаточно проблематично. Избавить от этих трудностей призвана наша услуга публикации ВАК. Мы сотрудничаем только с крупными авторитетными журналами, которые индексируются в РИНЦ.
    p На первом этапе мы помогаем выбрать издательство согласно сфере и тематике вашей работы. Далее проводим ее экспертную проверку и сверяем со стандартами журналов и ВАК. На основе этого делается академическое редактирование, оформление статьи и проверка на плагиат. Уникальность материала должна быть более 70-75%. Мы можем повысить ее в рамках редактирования или же составить для вас рекомендации и вернуть на самостоятельную доработку — выбор за вами.
    p Когда работа на 100% готова и отвечает всем требованиям, мы направляем ее в выбранный журнал. Благодаря налаженному сотрудничеству и четкому соблюдению правил издательств ВАК мы никогда не получаем отказ в публикации
