extends ../components/mixins/modal.pug

block variable
  - var withFooter = false
  - var modalName = 'upJournal'
  - var modalBgImage = 'assets/images/up.png'
  - var modalBgPosition = 'bottom right'
  - var modalBgSize = false

block title
    | upJournal

block body
    p заготовка
